ALLOWED_ORIGINS=http://localhost:3000
APP_BASE_URL=http://localhost:8001
COOKIE_DOMAIN=localhost
COOKIE_SECRET=my_local_secret_12345
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=15d
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_SECRET=thisisasamplesecret
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
MONGODB_URL=mongodb+srv://kingshukmondal012345_db_user:amp123@cluster0.ptejkj3.mongodb.net/amdaani?retryWrites=true&w=majority
NODE_ENV=development
PAYU_KEY=test_key
PAYU_SALT=test_salt
PAYU_TEST_MODE=true
PORT=8001
R2_ACCESS_KEY_ID=b62f0334ccab40d811b150afdef2416b
R2_BUCKET_NAME=school-app
R2_ENDPOINT=https://1d07911481ec066c5483425b73452a53.r2.cloudflarestorage.com
R2_PUBLIC_BUCKET_NAME=cdn
R2_PUBLIC_ENDPOINT=https://cdn.amptechnology.in
R2_SECRET_ACCESS_KEY=bee3040f0afb9b7762675a82192c8a916748f1fcedde1e3a4f65c9b53eba94e0
REDIS_URL=redis://localhost:6379